
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }

header {
    margin-bottom: 5em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(74, 14, 14);
    color: white;
}

.jeu {
    display: flex;
    justify-content: space-around;
}

.elements-jeu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inventaire {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid black;
    padding: 2em;

    img {
        object-fit: contain;
        width: 50px;
    }
}

.pv {
    border: 2px solid red;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pvMonster {
    border: 2px solid rgb(6, 10, 92);
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.indications {
    width: 250px;
}

.map {
    width: 560px;
    height: 560px;
    background-color: rgb(34, 33, 33);
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-around;
}

.block {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 80%;
        object-fit: contain;
    }
    
}

.arbre {
    background-color: darkgreen;
}

.feuillage {
    background-color: rgb(6, 173, 48);
}

.route {
    background-color: gray;
}

.sol {
    background-color: rgb(159, 157, 155);
}

.feu {
    background-color: rgb(195, 24, 24);
}

main {
    margin-bottom: 5em;
    position: relative;
}

.modale {
    width: 300px;
    height: 300px;
    background-color: #4e4b4b;
    border: 2px solid black;
    position: absolute;
    top: 100px;
    left: 700px;
}

.titreMod {
    height: 20%;
    background-color: #a4a1a1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inventaireModal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    img {
        max-width: 30%;
    }
    h3 {
        color: antiquewhite;
    }
    display: none;
}

.combatZone {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}