
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }

header {
    margin-bottom: 5em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(74, 14, 14);
    color: white;
}

.jeu {
    display: flex;
    justify-content: space-around;
}

.elements-jeu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inventaire {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid black;
    padding: 2em;

    img {
        object-fit: contain;
        width: 50px;
    }
}

.pv {
    border: 2px solid red;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pvMonster {
    border: 2px solid rgb(6, 10, 92);
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.indications {
    width: 250px;
}

.map {
    width: 560px;
    height: 560px;
    background-color: rgb(34, 33, 33);
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-around;
}

.block {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 80%;
        object-fit: contain;
    }
    
}

.arbre {
    background-color: darkgreen;
}

.feuillage {
    background-color: rgb(6, 173, 48);
}

.route {
    background-color: gray;
}

.sol {
    background-color: rgb(159, 157, 155);
}

.feu {
    background-color: rgb(195, 24, 24);
}

main {
    margin-bottom: 5em;
    position: relative;
}

.intro {
    width: 560px;
    height: 560px;
    background-color: #4e4b4b;
    border: 2px solid black;
    position: absolute;
    color: #fff;
    
    h2 {
        text-align: center;
        margin-bottom: 10px;
        font-style: oblique;
    }

    p {
        margin-left: 20px;
        margin-right: 10px;
        font-size: 15.5px;
        font-style: italic;
    }

    button {
        margin-left: 400px;
        background-color: brown;
        padding: 5px;
        border-radius: 15px;
        font-style: oblique;
        font-weight: bold;
    }
}

.modale {
    width: 300px;
    height: 300px;
    background-color: #4e4b4b;
    border: 2px solid black;
    position: absolute;
    top: 100px;
    left: 700px;
}

.titreMod {
    height: 20%;
    background-color: #a4a1a1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inventaireModal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    img {
        max-width: 30%;
    }
    h3 {
        color: antiquewhite;
    }
}

.combatZone {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.combat-zone {
    width: 560px;
    height: 560px;
    background-color: #2c2b2b;
    position: absolute;
    p {
        text-align: center;
        font-size: 100px;   
        color: white;
    }
    display: none;
}

.combattants {
    background-image: url('../img/arene.png');
    background-position: center;
    padding: 1em;
    display: flex;
    justify-content: space-between;

    img {
        width: 200px;
    }
    margin-bottom: 3em;
}

.heroZone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    /* img {
        animation: tremble 0.8s infinite;
    } */
}

.monsterZone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

@keyframes tremble {
    0% {
      transform: translateY(0px); /* Position de départ */
    }
    33% {
      transform: translateY(-15px); /* 10px plus haut */
    }
    100% {
      transform: translateY(0); /* Retour à la position d'origine */
    }
  }

.progressHero {
    --progressHero: 100%;
    
    width: 100px;
    height: 50px;
    border: 1px solid #fff;
    padding: 12px 10px;
    box-shadow: 0 0 10px #aaa;
  }

  .progressHero .bar {
    width: var(--progressHero);
    height: 100%;
    background: linear-gradient(rgb(139, 5, 23), rgb(99, 13, 13), rgb(197, 5, 31));
    background-repeat: repeat;
    box-shadow: 0 0 10px 0px orange;
    animation: 
      shine 4s ease-in infinite,
      end 1s ease-out 1;
    transition: width 0.5s ease;
  }

  @property --progressHero {
    syntax: "<length>";
    initial-value: 50%;
    inherits: true;
  }

  @keyframes shine {
    0% { background-position: 0 0; }
    100% { background-position: 0 50px; }
  }
  
  @keyframes end {
    0%, 100% { box-shadow: 0 0 10px 0px orange; }
    50% { box-shadow: 0 0 15px 5px orange; }
  }

.progressMonster {
--progressMonster: 100%;

width: 100px;
height: 50px;
border: 1px solid #fff;
padding: 12px 10px;
box-shadow: 0 0 10px #aaa;
}

.progressMonster .bar {
width: var(--progressMonster);
height: 100%;
background: linear-gradient(rgb(139, 5, 23), rgb(99, 13, 13), rgb(197, 5, 31));
background-repeat: repeat;
box-shadow: 0 0 10px 0px orange;
animation: 
shine 4s ease-in infinite,
end 1s ease-out 1;
transition: width 0.5s ease;
}

@property --progressMonster {
syntax: "<length>";
initial-value: 50%;
inherits: true;
}

.deathCross {
    position: absolute;
}

#crossHero {
    display: none;
}

#crossMonster {
    display: none;
}

.timerFight {
    --timerFight: 100%;
    
    width: 100px;
    height: 50px;
    border: 1px solid #fff;
    padding: 8px 6px;
    box-shadow: 0 0 10px #aaa;
    display: none;
    margin: auto;
    }
    
    .timerFight .bar {
    width: var(--timerFight);
    height: 100%;
    background: linear-gradient(rgb(19, 190, 70), rgb(26, 168, 90), rgb(9, 63, 4));
    background-repeat: repeat;
    box-shadow: 0 0 10px 0px orange;
    transition: width 1s ease;
    }
    
    @property --timerFight {
    syntax: "<length>";
    initial-value: 50%;
    inherits: true;
    }

@keyframes progressAnimation {
    0% { width: 100%; }
    100% { width: 0%; }
    }